.landingPage-body{
    display: flex;
    flex-direction: column;
    display: flex;
}

.landingPage-content{
    flex: 1;
    flex-direction: column;
    display: flex;
    margin-top: 4rem;
}

.intro-slides.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.introduction-slides{
    width: 60rem;
}

.d-block.w-100{
    height: 35rem;
}

.topBar{
    position: fixed;
    width: 100%;
    height: 4rem;
    flex-direction: row;
    z-index: 9;
    display: flex;
    border-bottom: .1rem solid #ebebeb;
    background-color: white;
}
.nav-bar{
    width: 20rem;
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 1rem;
}

.nav-bar-text{
    margin-right: 3rem;
    margin-left: 3rem;
    font-weight: 800;
    color: rgb(81, 77, 77);
    cursor: pointer;
}

.nav-bar-text:hover{
    color: black;
}

.search-body-l{
    top: .5rem;
    right: 0;
    position: absolute;
    align-self: center;
    margin-right: .5rem;
}

.city-night{
    width: 50rem;
}
.city-night-body{
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    margin-top: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
}
.city-night-info-body{
    flex: 1;
    width: 40rem;
    align-self: stretch;
    margin: 1rem;
    background-color: white;
    border: .001rem solid black;
}

.byp{
    flex-direction: column;
    display: flex;
    height: 15rem;
    padding: 1.5rem;
    margin-top: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(237, 249, 255);
}

.byp-title{
    
}

.byp-title-text{
    text-decoration: underline;
    font-weight: 200;
    cursor: pointer;
}

.byp-p-body{
    width: 55rem;
    margin-bottom: 1rem;
}

.byp-p{
    text-align: center;
}

/*footer*/
.footer{
    margin-top: 5rem;
    height: 15rem;
    background-color: #f9f4f4;
}